---
# Domain names configuration (related services need to be enabled).
domain_name_enable: false
domain_name: 'infra.box'

# The main domain names - eg pihole.infra.box
domain_directorybrowser: 'files'
domain_dockge: 'dockge'
domain_librenms: 'librenms'
domain_phpipam: 'phpipam'
domain_pihole: 'pihole'
domain_tftp: 'tftp'
domain_traefik: 'traefik'

# Global settings
timezone: Europe/Brussels

# User setting
infrabox_user_enable: true
infrabox_user_name: infrabox
infrabox_user_pass: Infra.Box

# Dockge settings
dockge_port: 5001
dockge_folder: "/srv/dockge"
stacks_folder: "/srv/stacks"

# Pi-hole configuration
pihole_port: 8053
pihole_password: "Infra.Box"

# Phpipam configuration
phpipam_port: 8100
phpipam_password: "Infra.Box"
phpipam_db_password: "Infra.Box"

# Phpipam configuration
librenms_port: 8000
librenms_snmp_community: "librenmscommunity"
librenms_db_user: "librenms"
librenms_db_pass: "Infra.Box"

# Gossa directory browser
directorybrowser_port: 8001

# Docker settings
docker_proxy_network: proxy-backend