# {{ ansible_managed }}
---
networks:
  proxy-backend:
    name: {{ docker_proxy_network }}
    external: true

services:
  gossa:
    volumes:
      - /srv/stacks/tftp/data:/shared
    ports:
      - {{ directorybrowser_port }}:8001
    image: pldubouilh/gossa
    networks:
      - {{ docker_proxy_network }}
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.directorybrowser-http.entrypoints=web
      - traefik.http.routers.directorybrowser-http.rule=Host(`{{ domain_directorybrowser }}.{{ domain_name }}`)
      - traefik.http.routers.directorybrowser-https.entrypoints=websecure
      - traefik.http.routers.directorybrowser-https.rule=Host(`{{ domain_directorybrowser }}.{{ domain_name }}`)
      - traefik.http.routers.directorybrowser-https.tls=true
      - traefik.http.services.directorybrowser-https.loadbalancer.server.port=8001