 _____  _   _ ______ ______   ___   ______  _____ __   __
|_   _|| \\ | ||  ___|| ___ \\ / _ \\  | ___ \\|  _  |\\ \\ / /
  | |  |  \\| || |_   | |_/ // /_\\ \\ | |_/ /| | | | \\ V /
  | |  | . ` ||  _|  |    / |  _  | | ___ \\| | | | /   \\
 _| |_ | |\\  || |    | |\\ \\ | | | | | |_/ /\\ \\_/ // /^\\ \\
 \\___/ \\_| \\_/\\_|    \\_| \\_|\\_| |_/ \\____/  \\___/ \\/   \\/

My IP address is \4

== Running services
- traefik proxy
    \4:8080 or {{ domain_traefik }}.{{ domain_name }}:8080
    point your internal dns to \4 to 
    be able to use the traefik proxy

- dockge
    \4:{{ dockge_port }} or {{ domain_dockge }}.{{ domain_name }}

- pihole
    \4:{{ pihole_port }}/admin or {{ domain_pihole }}.{{ domain_name }}/admin
    PASSWORD: {{ pihole_password }}

- phpipam
    \4:{{ phpipam_port }} or {{ domain_phpipam }}.{{ domain_name }}
    DATABASE USER/PASSWORD: root / {{ phpipam_password }}

- tftp server
    \4 or {{ domain_tftp }}.{{ domain_name }}
    the default port of 69/udp is used

- librenms
    \4:8000 or {{ domain_librenms }}.{{ domain_name }}

