^[[H^[[2J^[[3J
 _____  _   _ ______ ______   ___   ______  _____ __   __
|_   _|| \\ | ||  ___|| ___ \\ / _ \\  | ___ \\|  _  |\\ \\ / /
  | |  |  \\| || |_   | |_/ // /_\\ \\ | |_/ /| | | | \\ V /
  | |  | . ` ||  _|  |    / |  _  | | ___ \\| | | | /   \\
 _| |_ | |\\  || |    | |\\ \\ | | | | | |_/ /\\ \\_/ // /^\\ \\
 \\___/ \\_| \\_/\\_|    \\_| \\_|\\_| |_/ \\____/  \\___/ \\/   \\/

My IP address is \4

Running services
dockge:: \4:{{ dockge_port }} or {{ domain_dockge }}.{{ domain_name }}